@font-face {
  font-family: IranYekan;
  src: url("../font/Yekan.ttf") format("ttf"),
    url("../font/Yekan.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  font-family: IranYekan, sans-serif;
  text-align: right;
  direction: rtl;
  background-color: #f9fafd;
}
a {
  text-decoration: none;
  color: #37474f;
}
.container {
  width: 1120px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
header {
  background-color: #fff;
  box-shadow: 0 2px 12px rgb(0 0 0 / 10%);
  width: 100%;
  height: 68px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar-brand img {
  height: 42px;
  vertical-align: middle;
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 68px;
}
.navbar-brand {
  margin-left: 2rem;
}
.navbar-nav {
  list-style: none;
  height: 100%;
  flex-grow: 1;
}
.nav-item {
  display: inline-block;
  position: relative;
  padding: 20px 16px;
  height: 100%;
}
.nav-link {
  color: #6b6b6b;
}
.navbar-title {
  color: #2a2a2a;
}
.nav-item-active {
  height: 5px;
  width: 36px;
  background: #0ea960;
  position: absolute;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 0;
}
.left-nav {
  display: flex;
  align-items: center;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar input:hover {
  background-color: #fff;
  border-color: #c9c7c7;
}
.search-bar input {
  height: 2.25rem;
  font-size: 0.875rem;
  background-color: #f9fafd;
  border-radius: 0.5rem;
  width: 100%;
  min-width: 220px;
  padding: 0 1.5rem;
  border: 1px solid #f0f0f0;
  position: relative;
  outline: none;
}
.search-bar i {
  position: absolute;
  font-size: 0.75rem;
  color: #8a8a8a;
  padding-right: 7px;
  margin-top: 4px;
}
::placeholder {
  font-family: IranYekan, sans-serif;
  color: #8a8a8a;
  font-size: 0.75rem;
}
.person-icon {
  color: #2a2a2a;
  width: 2.25rem;
  border-radius: 50%;
  height: 2.25rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.person-icon i {
  color: #2a2a2a;
}
.person-icon:hover {
  background-color: #F1F2F9;
}
.download-bazar {
  background-color: #0ea960;
  border-color: #0ea960;
  color: #fff;
  height: 2.25rem;
  font-size: 0.875rem;
  border-radius: 4px;
  padding: 0.3rem 1rem;
  margin-right: 8px;
}
.download-bazar:hover{
 background-color: #0fa05c;
}
.ellipsis-icon {
  height: 2.25rem;
  border-radius: 4px;
  color: #2a2a2a;
  width: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.ellipsis-icon:hover {
  background-color: #F1F2F9;
}
.box {
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.m-b {
  margin-bottom: 1rem;
}
.m-t {
  margin-top: 2rem;
}
main {
  padding: 1rem;
}
.box-title {
  padding: 1rem;
}
.box-title h1 {
  color: #2a2a2a;

  line-height: 1.6rem;
  font-weight: 400;
  font-size: 0.885rem;
  padding: 0 0.7rem;
}
.box-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.8rem 1rem;
  display: flex;
}
.box-header h2 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  flex-grow: 1;
}
.box-link {
  font-size: 0.875rem;
  margin-left: 8px;
}
.box-link i {
  vertical-align: middle;
  margin-right: 3px;
}
.box-link:hover {
  color: #0ea960;
}
.body-content {
  display: flex;
  /* overflow-x: auto; */
  padding: 4px;
}
.simpleApp {
  width: 120px !important;
  min-width: 120px;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: none;
  transition: box-shadow 0.4s;
  margin: 4px;
}
.simpleApp:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.simpleApp-img img {
  display: block;
  border-radius: 22px;
  width: 100%;
  background: #fff;
}
.simpleApp-text {
  padding: 8px 4px;
  overflow: hidden;
}
.simpleApp-text > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.simpleApp-title {
  color: #2a2a2a;
  font-weight: 400;
  font-size: 0.875rem;
}
.simpleApp-subTitle {
  margin: 2px 0 0 !important;
  font-weight: 400;
  color: #8a8a8a;
  font-size: 0.75rem;
}
.swiper-button-next {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background: #fff;
  left: 0 !important;
  box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
.swiper-button-next::after,
.swiper-button-prev:after {
  color: #6b6b6b;
  font-size: 0.75rem;
  font-weight: 700;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.swiper-button-prev {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background: #fff;
  right: 0 !important;
  box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.promo {
  width: 420px !important;
  height: auto !important;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: none;
  transition: box-shadow 0.4s;
  margin: 4px;
}
.promo img {
  border-radius: 8px;
  height: 100%;
}
.category-content {
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
}
.category {
  display: flex;
  align-items: center;
  height: 56px;
  justify-content: space-between;
  color: #2a2a2a;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #f9fafd;
  border: 1px solid #f0f0f0;
  box-shadow: none;
  transition: box-shadow 0.4s;
  width: calc(33.33% - 1rem);
  margin: 0.5rem;
}
.category:hover {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.category i {
  margin-left: 5px;
}
.collapsible-content {
  padding: 1rem;
}
.collapsible-content p {
  margin-bottom: 1rem;
}
.collapsible-content h2 {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.content {
  display: none;
  overflow: hidden;
}
.collapsible {
  cursor: pointer;
  color: #8a8a8a;
}
.collapsible:hover {
  color: #212529;
}
footer {
  background-color: #fefefe;
  box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
}
.footer-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  border-bottom: 1px solid #e5e7f0;
}
.footer-description {
  padding-left: 5rem;
  height: auto;
  
}
.footer-description h3 {
  margin-bottom: 0.8rem;
  font-size: 1.125rem;
  font-weight: normal;
}
.footer-description p {
  color: #6b6b6b;
  line-height: 1.5;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.footer-download-box {
  border-radius: 8px;
  border: 1px solid #e5e7f0;
  width: 420px;
  min-width: 420px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.footer-download-box h4 {
  font-weight: normal;
}
.footer-download-box p {
  font-size: 0.75rem;
  color: #6b6b6b;
  margin-bottom: 1rem;
}
.buttons {
  display: flex;
  margin-top: 1rem;
}
.buttons a {
  background-color: #fff;
  border: 1px solid #e5e7f0;
  color: #0ea960;
  height: 2.25rem;
  font-size: 0.875rem;
  padding: 0 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.buttons a:hover{
  background-color:#FAFAFA ;
}
.buttons a:first-child {
  margin-left: 0.6rem;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  line-height: 2.8;
  font-size: 0.875rem;
}
.footer-link {
  display: block;
}
.footer-link:hover {
  color: #0ea960;
}
.footer-licences {
  display: flex;
}
.footer-licences a {
  border: 1px solid #e5e7f0;
  border-radius: 8px;
  overflow: hidden;
}
.footer-licences a img {
  height: 102px;
  margin: 5px 2px;
  width: 102px;
}
.footer-licences a:first-child {
  margin-left: 1rem;
}
.footer-seperator {
  border-bottom: 1px solid #e5e7f0;
}
.copywriter-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copywriter-bar p {
  font-size: 0.85rem;
}
.footer-socials a:not(:last-child) {
  margin-left: 1.5rem;
}
.footer-socials a i {
  color: #616161;
  font-size: 1.5rem;
}
.footer-socials a i:hover {
  color: #212529;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 8px;
  font-size: 1rem;
  padding: 8px;
  min-width: 200px;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
  left: 0;
  z-index: 1;


  top: calc(100% + 8px);
}
.dropdown-content a {
  padding: 15px 8px;
  color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: .85rem;
  border-radius: 8px;
}
.dropdown-content a:hover{
  background-color:#F1F2F9 ;
}
